SEAD-VA-extensions/dcs-access/sead-access-ui/src/main/webapp/xml/fgdc-std-001-1998-sect02.xsd

<!--edited with XMLSpy v2008 sp1 (http://www.altova.com) by Systems Administrator (NCDDC)-->
<xs:schema blockDefault="#all" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataqual" type="dataqualType">
    <xs:annotation>
      <xs:documentation>A general assessment of the quality of the data set.  (Recommendations on information to be reported and tests to be performed are found in 'Spatial Data Quality,' which is Chapter 3 of Part 1 in Department of Commerce, 1992, Spatial Data Transfer Standard (SDTS) (Federal Information Processing Standard 173):  Washington, Department of Commerce, National Institute of Standards and Technology.)</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Data Quality Information"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="dataqualType">
    <xs:sequence>
      <xs:element ref="attracc" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="2af5f8cd-ade2-431a-9ee7-e69016a42130" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an assessment of the accuracy of the identification of entities and assignment of attribute</ann:description>
                <ann:shortDescription>Attribute Accuracy</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="logic">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="05317c24-9986-4314-a674-ebec09ec813e" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an explanation of the fidelity of relationships in the data set and tests</ann:description>
                <ann:shortDescription>Logical Consistency Report</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="complete">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="422b8fa9-3440-4adc-9eac-ed91d03d2e5c" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>information about omissions, selection criteria, generalization, definitions used, and</ann:description>
                <ann:shortDescription>Completeness Report</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="posacc" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="8b6d3895-61a3-4ed9-b306-be0fd3adc2a5" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations"/>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="lineage">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="e4e7ca0a-44ef-4792-883b-5de2a3cb1a27" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations"/>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cloud" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="a0e4795a-8b28-4594-96d1-5ed31e491931" parentId="db0a9797-cb54-46b9-9d68-e5562c6afa6a" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>area of a data set obstructed by clouds, expressed as a percentage of the spatial extent.</ann:description>
                <ann:shortDescription>Cloud Cover</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="attracc" type="attraccType">
    <xs:annotation>
      <xs:documentation>An assessment of the accuracy of the identification of entities and assignment of attribute values in the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Attribute Accuracy"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="attraccType">
    <xs:sequence>
      <xs:element ref="attraccr">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="853ce0dc-dcbf-47dd-82c0-82888173a027" parentId="2af5f8cd-ade2-431a-9ee7-e69016a42130" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an explanation of the accuracy of the identification of the entities and</ann:description>
                <ann:shortDescription>Attribute Accuracy Report</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="qattracc" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="ec133049-c0bc-4854-8931-39b723451421" parentId="2af5f8cd-ade2-431a-9ee7-e69016a42130" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>a value assigned to summarize the accuracy of the</ann:description>
                <ann:shortDescription>Quantitative Attribute Accuracy Assessment</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="attraccr" type="attraccrType">
    <xs:annotation>
      <xs:documentation>An explanation of the accuracy of the identification of the entities and assignments of values in the data set and a description of the tests used.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Attribute Accuracy Report"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="attraccrType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="qattracc" type="qattraccType">
    <xs:annotation>
      <xs:documentation>A value assigned to summarize the accuracy of the identification of the entities and assignments of values in the data set and the identification of the test that yielded the value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Quantitative Attribute Accuracy Assessment"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="qattraccType">
    <xs:sequence>
      <xs:element ref="attraccv">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="a4d8f154-c08b-43f7-9495-a97eea0f1c2d" parentId="ec133049-c0bc-4854-8931-39b723451421" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an estimate of the accuracy of the identification of the entities and assignments</ann:description>
                <ann:shortDescription>Attribute Accuracy Value</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="attracce">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="e45a2d54-48e7-4a35-9fe2-094cbcb2ac59" parentId="ec133049-c0bc-4854-8931-39b723451421" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the identification of the test that yielded the Attribute Accuracy Value.</ann:description>
                <ann:shortDescription>Attribute Accuracy Explanation</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="attraccv" type="attraccvType">
    <xs:annotation>
      <xs:documentation>An estimate of the accuracy of the identification of the entities and assignments of attribute values in the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Attribute Accuracy Value"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="attraccvType">
    <xs:union memberTypes="FGDCstring">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="attracce" type="attracceType">
    <xs:annotation>
      <xs:documentation>The identification of the test that yielded the Attribute Accuracy Value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Attribute Accuracy Explanation"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="attracceType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="logic" type="logicType">
    <xs:annotation>
      <xs:documentation>An explanation of the fidelity of relationships in the data set and tests used.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Logical Consistency Report"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="logicType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="complete" type="completeType">
    <xs:annotation>
      <xs:documentation>Information about omissions, selection criteria, generalization, definitions used, and other rules used to derive the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Completeness Report"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="completeType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="posacc" type="posaccType">
    <xs:annotation>
      <xs:documentation>An assessment of the accuracy of the positions of spatial objects.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Positional Accuracy"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicabl"/>
        <xs:attribute name="other-validation-rules" fixed="checkProperties([horizpa,vertacc])"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="posaccType">
    <xs:sequence>
      <xs:element ref="horizpa" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="453b780f-e6d5-4d84-a0e6-90a87e4ffcc3" parentId="8b6d3895-61a3-4ed9-b306-be0fd3adc2a5" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an estimate of accuracy of the horizontal positions of the spatial objects.</ann:description>
                <ann:shortDescription>Horizontal Positional Accuracy</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="vertacc" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="cef040ac-38e5-4808-988d-9d14700380af" parentId="8b6d3895-61a3-4ed9-b306-be0fd3adc2a5" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an estimate of accuracy of the vertical positions in the data set.</ann:description>
                <ann:shortDescription>Vertical Positional Accuracy</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="horizpa" type="horizpaType">
    <xs:annotation>
      <xs:documentation>Estimate of accuracy of the horizontal positions of the spatial objects.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Horizontal Positional Accuracy"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="horizpaType">
    <xs:sequence>
      <xs:element ref="horizpar">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="c1aa71ce-215e-4d72-8388-a3417dcf9042" parentId="453b780f-e6d5-4d84-a0e6-90a87e4ffcc3" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an explanation of the accuracy of the horizontal coordinate</ann:description>
                <ann:shortDescription>Horizontal Positional Accuracy Report</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="qhorizpa" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="5d4e18be-0db6-4193-a36e-cee410f077fd" parentId="453b780f-e6d5-4d84-a0e6-90a87e4ffcc3" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>numeric value assigned to summarize the</ann:description>
                <ann:shortDescription>Quantitative Horizontal Positional Accuracy Assessment</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="horizpar" type="horizparType">
    <xs:annotation>
      <xs:documentation>An explanation of the accuracy of the horizontal coordinate measurements and a description of the tests used.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Horizontal Positional Accuracy Report"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="horizparType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="qhorizpa" type="qhorizpaType">
    <xs:annotation>
      <xs:documentation>Numeric value assigned to summarize the accuracy of the horizontal coordinate measurements and the identification of the test that yielded the value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Quantitative Horizontal Positional Accuracy Assessment"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="qhorizpaType">
    <xs:sequence>
      <xs:element ref="horizpav">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="410ed8f9-b18f-4f11-a806-35b4dd5d714f" parentId="5d4e18be-0db6-4193-a36e-cee410f077fd" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an estimate of the accuracy of the horizontal coordinate</ann:description>
                <ann:shortDescription>Horizontal Positional Accuracy Value</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="horizpae">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="d5adcc3d-8b7b-4cfa-a9c4-d91c8fa704d2" parentId="5d4e18be-0db6-4193-a36e-cee410f077fd" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the identification of the test that yielded the Horizontal</ann:description>
                <ann:shortDescription>Horizontal Positional Accuracy Explanation</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="horizpav" type="horizpavType">
    <xs:annotation>
      <xs:documentation>An estimate of the accuracy of the horizontal coordinate measurements in the data set expressed in (ground) meters.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Horizontal Positional Accuracy Value"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="horizpavType">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:element name="horizpae" type="horizpaeType">
    <xs:annotation>
      <xs:documentation>The identification of the test that yielded the Horizontal Positional Accuracy Value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Horizontal Positional Accuracy Explanation"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="horizpaeType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="vertacc" type="vertaccType">
    <xs:annotation>
      <xs:documentation>An estimate of accuracy of the vertical positions in the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Vertical Positional Accuracy"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="vertaccType">
    <xs:sequence>
      <xs:element ref="vertaccr">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="16580e2f-cca0-41de-ad89-572af7f10142" parentId="cef040ac-38e5-4808-988d-9d14700380af" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an explanation of the accuracy of the vertical</ann:description>
                <ann:shortDescription>Vertical Positional Accuracy Report</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="qvertpa" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="65709f5f-f682-4672-ae99-d6d1ed18552f" parentId="cef040ac-38e5-4808-988d-9d14700380af" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>numeric value assigned to summarize the accuracy of</ann:description>
                <ann:shortDescription>Quantitative Vertical Positional Accuracy Assessment</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vertaccr" type="vertaccrType">
    <xs:annotation>
      <xs:documentation>An explanation of the accuracy of the vertical coordinate measurements and a description of the tests used.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Vertical Positional Accuracy Report"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="vertaccrType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="qvertpa" type="qvertpaType">
    <xs:annotation>
      <xs:documentation>Numeric value assigned to summarize the accuracy of vertical coordinate measurements and the identification of the test that yielded the value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Quantitative Vertical Positional Accuracy Assessment"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="qvertpaType">
    <xs:sequence>
      <xs:element ref="vertaccv">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="18a74997-367e-4787-b760-abbb3972286c" parentId="65709f5f-f682-4672-ae99-d6d1ed18552f" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an estimate of the accuracy of the vertical coordinate measurements in</ann:description>
                <ann:shortDescription>Vertical Positional Accuracy Value</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="vertacce">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="fd56afec-1280-4dd6-a3b7-9fa265e47dc6" parentId="65709f5f-f682-4672-ae99-d6d1ed18552f" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the identification of the test that yielded the Vertical Positional</ann:description>
                <ann:shortDescription>Vertical Positional Accuracy Explanation</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vertaccv" type="vertaccvType">
    <xs:annotation>
      <xs:documentation>An estimate of the accuracy of the vertical coordinate measurements in the data set expressed in (ground) meters.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Vertical Positional Accuracy Value"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="vertaccvType">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:element name="vertacce" type="vertacceType">
    <xs:annotation>
      <xs:documentation>The identification of the test that yielded the Vertical Positional Accuracy Value.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Vertical Positional Accuracy Explanation"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="vertacceType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="lineage" type="lineageType">
    <xs:annotation>
      <xs:documentation>Information about the events, parameters, and source data which constructed the data set,  and information about the responsible parties.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Lineage"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:key name="srcciteaKey">
      <xs:selector xpath="srcinfo"/>
      <xs:field xpath="srccitea"/>
    </xs:key>
    <xs:keyref name="srcusedKeyRef" refer="srcciteaKey">
      <xs:selector xpath="procstep/srcused"/>
      <xs:field xpath="."/>
    </xs:keyref>
    <xs:keyref name="srcprodKeyRef" refer="srcciteaKey">
      <xs:selector xpath="procstep/srcprod"/>
      <xs:field xpath="."/>
    </xs:keyref>
  </xs:element>
  <xs:complexType name="lineageType">
    <xs:sequence>
      <xs:element ref="srcinfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" parentId="e4e7ca0a-44ef-4792-883b-5de2a3cb1a27" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>list of sources and a short discussion of the information contributed by each.</ann:description>
                <ann:shortDescription>Source Information</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="procstep" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="05dfe8b3-4216-4bae-9544-68c89d37cb41" parentId="e4e7ca0a-44ef-4792-883b-5de2a3cb1a27" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>information about a single event.</ann:description>
                <ann:shortDescription>Process Step</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="srcinfo" type="srcinfoType">
    <xs:annotation>
      <xs:documentation>List of sources and a short discussion of the information contributed by each.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Information"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
        <xs:attribute name="other-validation-rules" fixed="checkRangeExcludeMin([srcscale,1])"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="srcinfoType">
    <xs:sequence>
      <xs:element ref="srccite">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="6d27a16a-0203-4c20-844c-2003ffa89a35" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>reference for a source data set.</ann:description>
                <ann:shortDescription>Source Citation</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srcscale" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="b4970dd4-e2a9-41cc-8eb7-972dc950de45" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the denominator of the representative fraction on a map (for example, on a</ann:description>
                <ann:shortDescription>Source Scale Denominator</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="typesrc">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="21ddff2f-410f-4781-9ac0-8a96c1fdd971" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the medium of the source data set.</ann:description>
                <ann:shortDescription>Type of Source Media</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srctime">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="d785a1a9-b8a8-4b99-aa26-8248b0583bbc" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations"/>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srccitea">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="1b29cdcb-e8b7-4888-bfab-e731230a9419" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>short-form alias for the source citation.</ann:description>
                <ann:shortDescription>Source Citation Abbreviation</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srccontr">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="9d14d27e-c595-41b5-830d-f21b5c7e6d3b" parentId="94c0b0b7-2fd8-4b96-95b4-d5c43c49c1a7" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>brief statement identifying the information contributed by the source to the data set.</ann:description>
                <ann:shortDescription>Source Contribution</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="srccite" type="srcciteType">
    <xs:annotation>
      <xs:documentation>Reference for a source data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Citation"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="srcciteType">
    <xs:sequence>
      <xs:element ref="citeinfo">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="c6e87836-f7c8-48ec-ba34-0e042a2389a0" parentId="6d27a16a-0203-4c20-844c-2003ffa89a35" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations"/>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="srcscale" type="srcscaleType">
    <xs:annotation>
      <xs:documentation>The denominator of the representative fraction on a map scale (for example, on a 1:24,000-scale map, the Source Scale Denominator is 24000).</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Scale Denominator"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
        <xs:attribute name="string-input-format" fixed="Source Scale Denominator > 1"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="srcscaleType">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="typesrc" type="typesrcType">
    <xs:annotation>
      <xs:documentation>The medium of the source data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Type of Source Media"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="typesrcType">
    <xs:union memberTypes="FGDCstring">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="audiocassette"/>
          <xs:enumeration value="cartridge tape"/>
          <xs:enumeration value="CD-ROM"/>
          <xs:enumeration value="chart"/>
          <xs:enumeration value="computer program"/>
          <xs:enumeration value="disc"/>
          <xs:enumeration value="electronic bulletin board"/>
          <xs:enumeration value="electronic mail system"/>
          <xs:enumeration value="filmstrip"/>
          <xs:enumeration value="magnetic tape"/>
          <xs:enumeration value="microfiche"/>
          <xs:enumeration value="microfilm"/>
          <xs:enumeration value="online"/>
          <xs:enumeration value="paper"/>
          <xs:enumeration value="physical model"/>
          <xs:enumeration value="stable-base material"/>
          <xs:enumeration value="transparency"/>
          <xs:enumeration value="videocassette"/>
          <xs:enumeration value="videodisc"/>
          <xs:enumeration value="videotape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="srctime" type="srctimeType">
    <xs:annotation>
      <xs:documentation>Time period(s) for which the source data set corresponds to the ground.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Time Period of Content"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="srctimeType">
    <xs:sequence>
      <xs:element ref="timeinfo">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="4462563a-3f8e-49a3-83a8-2eb00334596d" parentId="d785a1a9-b8a8-4b99-aa26-8248b0583bbc" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
            <ann:metadataConcept>
              <ann:source>fgdc</ann:source>
              <ann:description>information about the date and time of an event</ann:description>
              <ann:shortDescription>Time Period Information</ann:shortDescription>
            </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srccurr">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="4d8f08b7-6040-4564-b034-6b3c96776431" parentId="d785a1a9-b8a8-4b99-aa26-8248b0583bbc" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the basis on which the source time period of content information of the</ann:description>
                <ann:shortDescription>Source Currentness Reference</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="srccurr" type="srccurrType">
    <xs:annotation>
      <xs:documentation>The basis on which the source time period of content information of the source data set is determined.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Currentness Reference"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="srccurrType">
    <xs:union memberTypes="FGDCstring">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ground condition"/>
          <xs:enumeration value="publication date"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="srccitea" type="srcciteaType">
    <xs:annotation>
      <xs:documentation>Short-form alias for the source citation.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Citation Abbreviation"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="srcciteaType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="srccontr" type="srccontrType">
    <xs:annotation>
      <xs:documentation>Brief statement identifying the information contributed by the source to the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Contribution"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="srccontrType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="procstep" type="procstepType">
    <xs:annotation>
      <xs:documentation>Information about a single event.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Process Step"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="procstepType">
    <xs:sequence>
      <xs:element ref="procdesc">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="84785a50-5eaf-4b99-bd3a-c1481bf46589" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>an explanation of the event and related parameters or tolerances.</ann:description>
                <ann:shortDescription>Process Description</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srcused" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="13b82dfc-8e41-4ca3-9e3a-60f9dab4dfd0" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>the Source Citation Abbreviation of a data set used in the processing</ann:description>
                <ann:shortDescription>Source Used Citation Abbreviation</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="procdate">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="02d3f502-bffa-4da5-b462-c4c97d117054" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the date when the event was completed.</ann:description>
                <ann:shortDescription>Process Date</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="proctime" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="3284ca85-d9fb-4869-87f3-3f234e8d5ec4" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the time when the event was completed.</ann:description>
                <ann:shortDescription>Process Time</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srcprod" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="4f1d253d-9448-4aee-a874-6b92973113f8" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:source>fgdc</ann:source>
                <ann:description>the Source Citation Abbreviation of an intermediate data set that (1)</ann:description>
                <ann:shortDescription>Source Produced Citation Abbreviation</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="proccont" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="210d9192-2690-4278-aa30-7778cc2a10bd" parentId="05dfe8b3-4216-4bae-9544-68c89d37cb41" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the party responsible for the processing step information.</ann:description>
                <ann:shortDescription>Process Contact</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="procdesc" type="procdescType">
    <xs:annotation>
      <xs:documentation>An explanation of the event and related parameters or tolerances.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Process Description"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="procdescType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="srcused" type="srcciteaType">
    <xs:annotation>
      <xs:documentation>The Source Citation Abbreviation of a data set used in the processing step.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Used Citation Abbreviation"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
        <xs:attribute name="string-input-format" fixed="Source Citation Abbreviations from the Source Information entries for the data set."/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <!--<xs:simpleType name="srcusedType">
	<xs:restriction base="xs:token"/>
</xs:simpleType>-->
  <xs:element name="procdate" type="procdateType">
    <xs:annotation>
      <xs:documentation>The date when the event was completed.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Process Date"/>
        <xs:attribute name="use" fixed="Mandatory"/>
        <xs:attribute name="string-input-format" fixed="YYYY|YYYYMM|YYYYMMDD|bcYYYY|bcYYYYMM|bcYYYYMMDD|ccYYYYY...|cdYYYYY..."/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="procdateType">
    <xs:union memberTypes="FGDCdate">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Unknown"/>
          <xs:enumeration value="Not complete"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="proctime" type="proctimeType">
    <xs:annotation>
      <xs:documentation>The time when the event was completed.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Process Time"/>
        <xs:attribute name="use" fixed="Optional"/>
        <xs:attribute name="string-input-format" fixed="HH|HHMM|HHMMSS|HHMMSSSS|HHMMSSSSZ|HHMMSSSSshhmm|Values must follow the 24-hour timekeeping system"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="proctimeType">
    <xs:restriction base="FGDCtime"/>
  </xs:simpleType>
  <xs:element name="srcprod" type="srcciteaType">
    <xs:annotation>
      <xs:documentation>The Source Citation Abbreviation of an intermediate data set that (1) is significant in the opinion of the data producer, (2) is generated in the processing step, and (3) is used in later processing steps.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Source Produced Citation Abbreviation"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
        <xs:attribute name="string-input-format" fixed="Source Citation Abbreviations from the Source Information entries for the data set."/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <!--<xs:simpleType name="srcprodType">
	<xs:restriction base="xs:token"/>
</xs:simpleType>-->
  <xs:element name="proccont" type="proccontType">
    <xs:annotation>
      <xs:documentation>The party responsible for the processing step information.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Process Contact"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="proccontType">
    <xs:sequence>
      <xs:element ref="cntinfo">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="113d7f00-56a7-4b1b-b26f-8fb70df9a62b" parentId="210d9192-2690-4278-aa30-7778cc2a10bd" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations"/>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cloud" type="cloudType">
    <xs:annotation>
      <xs:documentation>Area of a data set obstructed by clouds, expressed as a percentage of the spatial extent.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Cloud Cover"/>
        <xs:attribute name="use" fixed="Optional"/>
        <xs:attribute name="string-input-format" fixed="0 &lt;= Cloud Cover &lt;= 100"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="cloudType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="100"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>