SEAD-VA-extensions/dcs-access/sead-access-ui/src/main/webapp/xml/fgdc-std-001-1998-sect07.xsd

<!--edited with XMLSpy v2008 sp1 (http://www.altova.com) by Systems Administrator (NCDDC)-->
<xs:schema blockDefault="#all" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="metainfo" type="metainfoType">
    <xs:annotation>
      <xs:documentation>Information on the currentness of the metadata information, and the responsible party.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Reference Information"/>
        <xs:attribute name="use" fixed="Mandatory"/>
        <xs:attribute name="other-validation-rules" fixed="checkChron([metd,metrd]);checkChron([metrd,metfrd])"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="metainfoType">
    <xs:sequence>
      <xs:element ref="metd">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="6ac1fb67-2c12-4eeb-a42f-5da085bc56de" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the date that the metadata were created or last updated.</ann:description>
                <ann:shortDescription>Metadata Date</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metrd" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="af3c1908-2ad0-4f25-ab97-8471342a1eb7" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the date of the latest review of the metadata entry.</ann:description>
                <ann:shortDescription>Metadata Review Date</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metfrd" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="74480c6a-9908-43f5-a70d-48e4ef5c760f" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the date by which the metadata entry should be reviewed.</ann:description>
                <ann:shortDescription>Metadata Future Review Date</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metc">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="a531f9fe-e618-4e77-a503-916e05c0c07d" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the party responsible for the metadata information.</ann:description>
                <ann:shortDescription>Metadata Contact</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metstdn">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="12e604f7-b65e-477a-8bdb-cefadaca0ab0" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the name of the metadata standard used to document the data set.</ann:description>
                <ann:shortDescription>Metadata Standard Name</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metstdv">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="0b420470-55bf-4e97-9386-79089207321a" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>identification of the version of the metadata standard used to document the data</ann:description>
                <ann:shortDescription>Metadata Standard Version</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="mettc" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="c9bd7aa9-58bc-4feb-82e3-afcbceb52df8" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>form used to convey time of day information in the metadata entry. Used if time of</ann:description>
                <ann:shortDescription>Metadata Time Convention</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metac" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="97277f0a-e24c-4a1f-b846-286633b57d4a" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>restrictions and legal prerequisites for accessing the metadata. These include</ann:description>
                <ann:shortDescription>Metadata Access Constraints</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metuc" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="eb092a92-53a9-437d-a4f2-608c51d9e412" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>restrictions and legal prerequisites for using the metadata after access is granted.</ann:description>
                <ann:shortDescription>Metadata Use Constraints</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metsi" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="7c8185cc-ae52-494f-838f-9ecc278c0e68" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>handling restrictions imposed on the metadata because of national security,</ann:description>
                <ann:shortDescription>Metadata Security Information</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metextns" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="4331a38c-fa41-4275-b064-31599a9b981d" parentId="211e81a5-21aa-44bf-a79e-877a9e696536" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>a reference to extended elements to the standard which may be defined by a metadata</ann:description>
                <ann:shortDescription>Metadata Extensions</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metd" type="metdType">
    <xs:annotation>
      <xs:documentation>The date that the metadata were created or last updated.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Date"/>
        <xs:attribute name="use" fixed="Mandatory"/>
        <xs:attribute name="string-input-format" fixed="YYYY|YYYYMM|YYYYMMDD|bcYYYY|bcYYYYMM|bcYYYYMMDD|ccYYYYY...|cdYYYYY..."/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metdType">
    <xs:restriction base="FGDCdate"/>
  </xs:simpleType>
  <xs:element name="metrd" type="metrdType">
    <xs:annotation>
      <xs:documentation>The date of the latest review of the metadata entry.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Review Date"/>
        <xs:attribute name="use" fixed="Optional"/>
        <xs:attribute name="string-input-format" fixed="YYYY|YYYYMM|YYYYMMDD|bcYYYY|bcYYYYMM|bcYYYYMMDD|ccYYYYY...|cdYYYYY...|Metadata Review Date later than Metadata Date"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metrdType">
    <xs:restriction base="FGDCdate"/>
  </xs:simpleType>
  <xs:element name="metfrd" type="metfrdType">
    <xs:annotation>
      <xs:documentation>The date by which the metadata entry should be reviewed.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Future Review Date"/>
        <xs:attribute name="use" fixed="Optional"/>
        <xs:attribute name="string-input-format" fixed="YYYY|YYYYMM|YYYYMMDD|bcYYYY|bcYYYYMM|bcYYYYMMDD|ccYYYYY...|cdYYYYY...|Metadata Future Review Date later than Metadata Review Date"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metfrdType">
    <xs:restriction base="FGDCdate"/>
  </xs:simpleType>
  <xs:element name="metc" type="metcType">
    <xs:annotation>
      <xs:documentation>The party responsible for the metadata information.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Contact"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="metcType">
    <xs:sequence>
      <xs:element ref="cntinfo">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="b5b73a58-78f1-4853-8cb1-3f823d19ab62" parentId="a531f9fe-e618-4e77-a503-916e05c0c07d" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>Identity of, and means to communicate with, person(s) and organization(s) associated with</ann:description>
                <ann:shortDescription>Contact Information</ann:shortDescription>
              </ann:metadataConcept>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metstdn" type="metstdnType">
    <xs:annotation>
      <xs:documentation>The name of the metadata standard used to document the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Standard Name"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metstdnType">
    <xs:union memberTypes="FGDCstring">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="FGDC Content Standard for Digital Geospatial Metadata"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="metstdv" type="metstdvType">
    <xs:annotation>
      <xs:documentation>Identification of the version of the metadata standard used to document the data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Standard Version"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metstdvType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="mettc" type="mettcType">
    <xs:annotation>
      <xs:documentation>Form used to convey time of day information in the metadata entry.  Used if time of day information is included in the metadata for a data set.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Time Convention"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="mettcType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="local time"/>
      <xs:enumeration value="local time with time differential factor"/>
      <xs:enumeration value="universal time"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="metac" type="metacType">
    <xs:annotation>
      <xs:documentation>Restrictions and legal prerequisites for accessing the metadata.  These include any access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Access Constraints"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metacType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="metuc" type="metucType">
    <xs:annotation>
      <xs:documentation>Restrictions and legal prerequisites for using the metadata after access is granted.  These include any metadata use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Use Constraints"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metucType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="metsi" type="metsiType">
    <xs:annotation>
      <xs:documentation>Handling restrictions imposed on the metadata because of national security,  privacy, or other concerns.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Security Information"/>
        <xs:attribute name="use" fixed="Optional"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="metsiType">
    <xs:sequence>
      <xs:element ref="metscs">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="63531d1f-c0e0-4225-b646-449ecac8a24b" parentId="7c8185cc-ae52-494f-838f-9ecc278c0e68" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>name of the classification system for the metadata.</ann:description>
                <ann:shortDescription>Metadata Security Classification System</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metsc">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="107dd209-014b-445b-a41e-4be29453dfd7" parentId="7c8185cc-ae52-494f-838f-9ecc278c0e68" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>name of the handling restrictions on the metadata.</ann:description>
                <ann:shortDescription>Metadata Security Classification</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="metshd">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="4ed1b18d-9df1-49e4-a0f2-1210ee0996a5" parentId="7c8185cc-ae52-494f-838f-9ecc278c0e68" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>additional information about the restrictions on handling the</ann:description>
                <ann:shortDescription>Metadata Security Handling Description</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metscs" type="FGDCstring">
    <xs:annotation>
      <xs:documentation>Name of the classification system for the metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Security Classification System"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="metsc" type="metscType">
    <xs:annotation>
      <xs:documentation>Name of the handling restrictions on the metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Security Classification"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metscType">
    <xs:union memberTypes="FGDCstring">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Confidential"/>
          <xs:enumeration value="Restricted"/>
          <xs:enumeration value="Secret"/>
          <xs:enumeration value="Sensitive"/>
          <xs:enumeration value="Top Secret"/>
          <xs:enumeration value="Unclassified"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:element name="metshd" type="metshdType">
    <xs:annotation>
      <xs:documentation>"Additional information about the restrictions on handling the metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Security Handling Description"/>
        <xs:attribute name="use" fixed="Mandatory"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metshdType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
  <xs:element name="metextns" type="metextnsType">
    <xs:annotation>
      <xs:documentation>A reference to extended elements to the standard which may be defined by a metadata producer or a user community.  Extended elements are elements outside the Standard, but needed by the metadata producer.  If extended elements are created, they must follow the guidelines in Appendix D, Guidelines for Creating Extended Elements to the Content Standard for Digital Geospatial Metadata.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Metadata Extensions"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
        <xs:attribute name="other-validation-rules" fixed="checkProperties([onlink,metprof])"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="metextnsType">
    <xs:sequence>
      <xs:element name="onlink" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="836c135e-2109-479b-9400-734091820907" parentId="4331a38c-fa41-4275-b064-31599a9b981d" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataConcept/>
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the party responsible for the metadata information.</ann:description>
                <ann:shortDescription>Metadata Contact</ann:shortDescription>
                <ann:elementType>STRING</ann:elementType>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="FGDCstring"/>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="metprof" minOccurs="0">
        <xs:annotation>
          <xsd:appinfo source="http://edu.indiana.dde/catalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ann:metadataNode nodeId="3e92534c-d9b7-4710-b9c0-d514e61c08fd" parentId="4331a38c-fa41-4275-b064-31599a9b981d" version="1a61ac21-e96b-408b-aeba-1477edcc95da" xmlns:ann="http://www.cs.indiana.edu/dde/catalogbuilder/2008/08/annotations">
              <ann:metadataElement>
                <ann:name/>
                <ann:source>fgdc</ann:source>
                <ann:description>the name given to a document that describes the application of the Standard to a specific user</ann:description>
                <ann:shortDescription>Profile Name</ann:shortDescription>
              </ann:metadataElement>
            </ann:metadataNode>
          </xsd:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metprof" type="metprofType">
    <xs:annotation>
      <xs:documentation>The name given to a document that describes the application of the Standard to a specific user community.</xs:documentation>
      <xs:appinfo>
        <xs:attribute name="mdname" fixed="Profile Name"/>
        <xs:attribute name="use" fixed="Mandatory-if-applicable"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="metprofType">
    <xs:restriction base="FGDCstring"/>
  </xs:simpleType>
</xs:schema>