SEAD-VA-extensions/services/matchmaker/sead-matchmaker-service/src/main/resources/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2013 The Trustees of Indiana University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classAd" type="classAdType"/>
  <xs:complexType name="ruleType">
    <xs:sequence>
      <xs:element name="subject" type="xs:string" />
      <xs:element type="xs:string" name="predicate"/>
      <xs:element name="object" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="characteristicsType">
    <xs:sequence>
      <xs:element type="characteristicType" name="characteristic" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="characteristicType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
       <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preferencesType">
    <xs:sequence>
      <xs:element type="ruleType" name="rule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classAdType">
    <xs:sequence>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="characteristicsType" name="characteristics"/>
      <xs:element type="requirementsType" name="requirements"/>
      <xs:element type="preferencesType" name="preferences"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requirementsType">
    <xs:sequence>
      <xs:element type="ruleType" name="rule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>